# K Nearest Neighbors Classification
This notebook uses credit fraud dataset which has been used previously as well.
KNN is supervised learning and makes use of labelled data.

In [2]:
# importing libraries    
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/admin/Downloads/credit_dataset.csv')

In [4]:
df.head()

,Unnamed: 0,ID,GENDER,CAR,REALITY,NO_OF_CHILD,INCOME,INCOME_TYPE,EDUCATION_TYPE,FAMILY_TYPE,HOUSE_TYPE,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET
0,0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,2.0,29,59,3,0
1,1,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,4,52,8,0
2,2,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,26,52,8,0
3,3,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,26,52,8,0
4,4,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,38,52,8,0

In [5]:
# label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label_df = df.copy()
s = (df.dtypes == 'object')
object_cols = list(s[s].index)
for row in object_cols:
    label_df[row] = le.fit_transform(df[row])

In [6]:
# Choosing features and Target for training and testing
X = label_df.copy()
y = X.pop('TARGET')

In [7]:
# Splitting the dataset into train and test
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [14]:
#Fitting K-NN classifier to the training set  
from sklearn.neighbors import KNeighborsClassifier  
classifier= KNeighborsClassifier(n_neighbors=5, metric='minkowski', p=2)  
classifier.fit(xtrain, ytrain)

KNeighborsClassifier()

In [15]:
#Predicting the test set result  
y_pred= classifier.predict(xtest)

In [16]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(ytest, y_pred)  
cm

array([[6167,   10],
       [  70,   37]], dtype=int64)

In [17]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(ytest, y_pred))

0.012730744748567792

In [18]:
# Evaluating the model
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(ytest, y_pred))

Accuracy :  0.9872692552514322

## Hyper parameter tuning

In [8]:
#Fitting K-NN classifier to the training set  
from sklearn.neighbors import KNeighborsClassifier  
classifier2 = KNeighborsClassifier(n_neighbors=2, metric='euclidean', p=2)  
classifier2.fit(xtrain, ytrain)

KNeighborsClassifier(metric='euclidean', n_neighbors=2)

In [10]:
#Predicting the test set result  
y_pred= classifier2.predict(xtest)

In [11]:
#Creating the Confusion matrix  
from sklearn.metrics import confusion_matrix  
cm= confusion_matrix(ytest, y_pred)  
cm

array([[6166,   11],
       [  59,   48]], dtype=int64)

In [12]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(ytest, y_pred))

0.011139401654996817

In [13]:
# Evaluating the model
from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(ytest, y_pred))

Accuracy :  0.9888605983450032