# Mumbai Weather Dataset

This dataset gives hourly weather information of mumbai of 3 days (day2 to day5).

It consists of the following attributes:
1. Day
2. Hour
3. Temperature
4. Realtive Humidity
5. Wind Speed
6. Wind Direction

### Objective
To predict Temperature of any given day using Linear Regression model. Features which are Hour, Relative Humidity, Wind Speed and WInd Direction would be given.

### Tools Required
Python
Jupyter Notebook

### Libraries Used
Pandas
Sklearn
Linear Regression
Mean Absolute Error

In [1]:
#importing libraries
import pandas as pd

In [2]:
# Reading the dataset
df = pd.read_csv('C:/Users/admin/Downloads/weather.csv')

In [3]:
# A glance at the dataset
df.head()

   Day  Hour  Temperature   Relative Humidity   Wind Speed   Wind Direction
0    2     0         28.94                  77         9.69           221.99
1    2     1         28.79                  79        13.04           219.40
2    2     2         28.59                  79         7.99           215.84
3    2     3         28.47                  79         5.48           203.20
4    2     4         28.40                  78         5.24           195.95

In [4]:
# Dropping null rows
df = df.dropna(axis=0)

In [5]:
df.describe()

,Day,Hour,Temperature,Relative Humidity,Wind Speed,Wind Direction
count,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000
mean,5.500000,11.500000,29.956198,73.776042,15.904271,259.469583
std,2.297278,6.940284,1.387360,5.970858,5.341109,22.535335
min,2.000000,0.000000,26.650000,60.000000,2.620000,195.950000
25%,3.750000,5.750000,28.880000,69.000000,11.697500,246.467500
50%,5.500000,11.500000,29.485000,75.000000,15.990000,262.105000
75%,7.250000,17.250000,30.862500,78.000000,20.570000,274.732500
max,9.000000,23.000000,33.060000,89.000000,26.880000,307.570000

In [6]:
# Declaring the outcome attribute as 'y'
y= df['Temperature ']

In [7]:
# Selecting relevant columns as Features to train
df_features = ['Hour', 'Relative Humidity ', 'Wind Speed ','Wind Direction ']

In [8]:
# Assigning features to a variable "X"
X = df[df_features]

In [9]:
# Importing Linear Regression Model
from sklearn.linear_model import LinearRegression

In [10]:
# Saving the model in a variable named 'regressor'
regressor = LinearRegression()

In [11]:
# Fitting the Dependent variables and Independent variables into the model
regressor.fit(X,y)

LinearRegression()

In [12]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(regressor.predict(X.head()))

Making predictions for the following 5 houses:
   Hour  Relative Humidity   Wind Speed   Wind Direction
0     0                  77         9.69           221.99
1     1                  79        13.04           219.40
2     2                  79         7.99           215.84
3     3                  79         5.48           203.20
4     4                  78         5.24           195.95
The predictions are
[29.08489156 28.65408432 28.66541903 28.64383045 28.84341907]

In [13]:
# Importing mean absolute error to evaluate the model's performance
from sklearn.metrics import mean_absolute_error

In [14]:
# Making predictions
preds = regressor.predict(X)
mean_absolute_error(y, preds)

0.38158244747382275

In [15]:
# Importing train_test_split to validate the model
from sklearn.model_selection import train_test_split

In [16]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

In [17]:
regressor.fit(train_X, train_y)

LinearRegression()

In [18]:
val_predictions = regressor.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

0.4144899798946217

In [24]:
from sklearn.metrics import r2_score
r2 = r2_score(val_y, val_predictions)
print('r2 score is', r2)

r2 score is 0.8488570245137701

In [23]:
from sklearn.metrics import mean_squared_error
errors = mean_squared_error(val_y, val_predictions)
print('MSE is', errors)

MSE is 0.2565943798789761

In [25]:
errors = mean_squared_error(val_y, val_predictions, squared=False)
print('RMSE is', errors)

RMSE is 0.5065514582734671