# Random Forest

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/admin/Downloads/credit_dataset.csv')

In [3]:
df.head()

,Unnamed: 0,ID,GENDER,CAR,REALITY,NO_OF_CHILD,INCOME,INCOME_TYPE,EDUCATION_TYPE,FAMILY_TYPE,HOUSE_TYPE,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET
0,0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,1,0,0,0,2.0,29,59,3,0
1,1,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,4,52,8,0
2,2,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,26,52,8,0
3,3,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,26,52,8,0
4,4,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,1,0,1,1,1.0,38,52,8,0

In [4]:
# Converting into type int for simplicity
df['FAMILY SIZE'] = df['FAMILY SIZE'].astype(int)

In [5]:
# Choosing features and Target for training and testing
X = df.copy()
y = X.pop('TARGET')

In [6]:
# Splitting the dataset into train and test
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [7]:
# Ordinal Encoding for Categorical variables
from sklearn.preprocessing import OrdinalEncoder
ordinal_encoder = OrdinalEncoder()
s = (xtrain.dtypes == 'object')
object_cols = list(s[s].index)
label_x_train = xtrain.copy()
label_x_test = xtest.copy()
label_x_train[object_cols] = ordinal_encoder.fit_transform(xtrain[object_cols])
label_x_test[object_cols] = ordinal_encoder.transform(xtest[object_cols])

In [8]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=0)
forest_model.fit(label_x_train, ytrain)

RandomForestRegressor(random_state=0)

### Saving model as pickle file

In [10]:
import pickle
filename = 'random_forest_model.sav'
pickle.dump(forest_model, open(filename, 'wb'))

In [11]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
y_pred = loaded_model.predict(label_x_test)
print(mean_absolute_error(ytest, y_pred))

0.013375238701464037

# SMOTE

In [12]:
import imblearn

In [13]:
from imblearn.over_sampling import SMOTE
from imblearn.under_sampling import RandomUnderSampler
from imblearn.pipeline import Pipeline

In [14]:
# define pipeline
over = SMOTE(sampling_strategy=0.1)
under = RandomUnderSampler(sampling_strategy=0.5)
steps = [('o', over), ('u', under)]
pipeline = Pipeline(steps=steps)

In [15]:
X1, y1 = pipeline.fit_resample(label_x_train, ytrain)
X1_test, y1_test = pipeline.fit_resample(label_x_test, ytest)

In [16]:
#Random Forest Model 
loaded_model.fit(X1, y1)
y_pred = loaded_model.predict(X1_test)
print(mean_absolute_error(y1_test, y_pred))

0.09871961102106969