# Credit Card Fraud Dataset
## Support Vector Machine Algorithm

In [2]:
import pandas as pd
from sklearn import svm

In [3]:
# SVM regularization parameter
svc = svm.SVC(kernel='linear', C=1)

In [4]:
df = pd.read_csv('C:/Users/admin/Downloads/credit_dataset.csv', index_col=False)

In [5]:
# Converting into type int for simplicity
df['FAMILY SIZE'] = df['FAMILY SIZE'].astype(int)

In [17]:
df.HOUSE_TYPE.unique()

array(['House / apartment', 'Rented apartment', 'Municipal apartment',
       'With parents', 'Co-op apartment', 'Office apartment'],
      dtype=object)

In [6]:
# label encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
label_df = df.copy()
s = (df.dtypes == 'object')
object_cols = list(s[s].index)
for row in object_cols:
    label_df[row] = le.fit_transform(df[row])

In [7]:
label_df.drop(label_df.columns[0], axis=1, inplace=True)
label_df.head()

,ID,GENDER,CAR,REALITY,NO_OF_CHILD,INCOME,INCOME_TYPE,EDUCATION_TYPE,FAMILY_TYPE,HOUSE_TYPE,FLAG_MOBIL,WORK_PHONE,PHONE,E_MAIL,FAMILY SIZE,BEGIN_MONTH,AGE,YEARS_EMPLOYED,TARGET
0,5008806,1,1,1,0,112500.0,4,4,1,1,1,0,0,0,2,29,59,3,0
1,5008808,0,0,1,0,270000.0,0,4,3,1,1,0,1,1,1,4,52,8,0
2,5008809,0,0,1,0,270000.0,0,4,3,1,1,0,1,1,1,26,52,8,0
3,5008810,0,0,1,0,270000.0,0,4,3,1,1,0,1,1,1,26,52,8,0
4,5008811,0,0,1,0,270000.0,0,4,3,1,1,0,1,1,1,38,52,8,0

In [16]:
label_df['HOUSE_TYPE'].unique()

array([1, 4, 2, 5, 0, 3])

In [7]:
# Choosing features and Target for training and testing
X = label_df.copy()
y = X.pop('TARGET')

In [8]:
# Splitting the dataset into train and test
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [9]:
svc.fit(xtrain, ytrain)

# predict the target on the train dataset
y_pred = svc.predict(xtest)
print('\nTarget on train data',y_pred) 

from sklearn.metrics import accuracy_score
# Accuray Score on train dataset
result = accuracy_score(ytest,y_pred)
print('\naccuracy_score: ', result)

Target on train data [0 0 0 ... 0 0 0]

accuracy_score:  0.9829726288987906

In [10]:
# Confusion Matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, y_pred)
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[6177    0]
 [ 107    0]]